.form-input-1{
  background: #43C6AC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,#399d97, #33828a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,#399d97, #33828a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.form-input-2{
  background: #43C6AC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,#33838b, #2d6c7f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,#33838b, #2d6c7f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.form-input-3{
  background: #43C6AC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,#2b627a, #25496e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,#2b627a, #25496e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.accordion-item,.accordion-header,.accordion-button{
  background: #43C6AC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,#3ca89d, #183784);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,#3ca89d, #183784); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border: none;

}
