.accordion-item,.accordion-header,.accordion-button{
  background: #43C6AC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,#3ca89d, #183784);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,#3ca89d, #183784); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border: none;
  text-decoration-color: #aac6a3;
}
