<nav class="navbar  navbar-dark pb-5">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Clientes</a>
    <a class="navbar-brand" href="/form/">Nuevo</a>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn bg-primary btn-outline-light" type="submit">Buscar</button>
    </form>
  </div>
</nav>










<!-- <nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand">Clientes</a>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav> -->
