<nav class="navbar navbar-expand-lg navbar-dark pb-5">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../../../assets/LOGO-T-CONSORCIO.png" width="120" height="84" class="d-inline-block ms-5" alt="">
    </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto justify-content-center me-5 pe-5">
          <a class="nav-link fs-4 mx-4" [ngClass]="titulo == 'tabla' ? 'text-light' : 'text-dark' " href="tabla">Tabla Clientes</a>
          <a class="nav-link fs-4 mx-4" [ngClass]="titulo == 'nuevo' ? 'text-light' : 'text-dark' " href="form">Nuevo</a>
          <a class="nav-link fs-4 mx-4" [ngClass]="titulo == 'detalles' ? 'text-light' : 'text-dark' ">Detalles</a>
          <a class="nav-link fs-4 mx-4" [ngClass]="titulo == 'modificar' ? 'text-light' : 'text-dark' ">Modificar</a>
        </div>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" name="buscar" aria-label="Search" (ngModelChange)="search($event)" [(ngModel)]="filtroCliente" >
          <button class="btn bg-primary btn-outline-light" type="submit">Buscar</button>
        </form>
      </div>
  </div>
</nav>










<!-- <nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand">Clientes</a>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav> -->
